nav{
  font-family: "Nanum Myeongjo";
}
.background-cat {

  background: url("cats.jpeg");
  background-size: cover; background-size: cover; /* Adjust as needed */
  background-position: center; /* Adjust as needed */
  background-repeat: no-repeat; /* Adjust as needed */

  /* Set the height of the div */
  height: 500px; /* Adjust as needed */
}